body{
    margin: 0; 
    padding: 0; 
    font-family: "Century Gothic", arial, sans-serif; 
    background-color: #ecf0f1;
}

img{
    margin: 10px;
}

#machine{
    margin-left: 110px;
    position: absolute;
}

.wrap{
    width: 980px; 
    margin: 120px auto; 
    font-size: 0; 
}
p{
    font-size: 21px;
}

#rock, #paper, #scissors{
cursor: pointer;
}


/* Endrer størrelsen på knappen når man flyter over bildene for å vise hva man klikker */
#rock:hover, #paper:hover, #scissors:hover{
    width: 205px; 
    height: 205px;
}

