body{
    margin: 0; 
    padding: 0; 
    background-color: rgb(104, 104, 104);
}
#bildeOverskrift{
    color: white; 
    text-align: center;
    font-size: 30px;
    text-decoration: underline;

}


.arrows{
    margin-top: 10px;
}
#rarrow{
    margin-left: 10px;
}
#larrow{
    margin-right: 10px;
}

#navbar{
    height: 15px; 
    width: 100%; 
    position: fixed;
    bottom: 0;
}
.link{
    position: relative;
    bottom: 5px;
    text-align: center;
    color: white; 
    margin-right: 30px;
    margin-bottom: 3px;
}
.link:hover{
    color: gray;
}